<body>
  <center>
  <div class="page-title-font">Personal Collection</div>
  </center>

  <div class="collectionIndex">
    <% @collection_cards.sorted_by_type.each do |type, collection_cards| %>
    <div class="collectionTitle"><%= type.capitalize %>: (<%= collection_cards.length %>)</div>
    <div class="collectionCards">
      <% collection_cards.each do |collection_card| %>
          <div class="hover_img" id="cardQuantity">
            <li><%= collection_card[:quantity] %>:<a onclick="increase_quantity()"><%= collection_card[:card].name %></a><span><img src="<%= collection_card[:card].image_url %>" /></span>
            </li>
          </div>
      <% end %>
    </div><br>
    <% end %>
  </div>
</body>

<script>
// {
  $(document).ready(function() {
    var increase = getElementyByID('#cardQuantity').on('click', function(){
      var i = collection_card.quantity;
      i++;
    })
  }
//   document.getElementyByID("#cardQuantity").onclick = function increase_quantity(){
//     var i = collection_card.quantity;
//     i++;
//   }
// }
</script>




