<h1>Personal Collection</h1>

<center>
<%= form_tag "/search_collection", method: :post do %>
<%= label_tag :search %>
<%= text_field_tag :search %>
<%= submit_tag "Search" %>
<% end %>
</center>

<%= link_to "Sort by Name", "collection_cards?sort=card_id" %><br>

<center>
<%= link_to "Find Cards to Add", "cards/" %>
</center>


<% @cards.each do |card| %>
  <div>
  <%= card.name %>
  <img src="<%= card["editions"][0]["image_url"] %>">
  </div>
<% end %>


