<h1>Personal Collection</h1>

<%= link_to "Sort by Name", "collection_cards?sort=name" %><br>

<center>
  <%= form_tag "/cards_search/", method: :get do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    <%= submit_tag "Search for Cards" %>
  <% end %>
</center>

<% @collection_cards.each do |collection_card| %>
  <div>
  <%= collection_card.quantity %> 
  <%= collection_card.card.name %>
  <img src="<%= collection_card.card.image_url %>">
  </div>
<% end %>


