<center>Add new cards here</center>
<%= form_tag "/collection_cards", method: :post do%>

<div>
<%= label_tag :name, "Card Name:" %>
<%= text_field_tag :name, @collections["name"] %>
</div>

<div>
<%= label_tag :image_url, "Card Image:" %>
<%= text_field_tag :image_url, @collections["editions"][0]["rarity"] %>
</div>


<%= submit_tag "Add Card" %>

<% end %>