<center>Add new cards here</center>
<%= form_tag "/collection_cards", method: :post do%>

<div>
<%= label_tag :card_id, "Card Name:" %>
<%= text_field_tag :card_id, @collections["card_id"] %>
</div>

<div>
<%= label_tag :image_url, "Card Image:" %>
<%= text_field_tag :image_url, @collections["image_url"] %>
</div>


<%= submit_tag "Add Card" %>

<% end %>