<center>Add new cards here</center>
<%= form_tag "/collection_cards", method: :post do%>

<div>
<%= label_tag :name, "Card Name:" %>
<%= text_field_tag :name, @collections.name %>
</div>

<div>
<%= label_tag :mana, "Mana Cost:" %>
<%= text_field_tag :mana, @collections.mana %>
</div>

<div>
<%= label_tag :color, "Card Color:" %>
<%= text_field_tag :color, @collections.color %>
</div>

<div>
<%= label_tag :rarity, "Card Rarity: " %>
<%= text_field_tag :rarity, @collections.rarity %>
</div>

<%= submit_tag "Add Card" %>

<% end %>