<center><h1>User registration: </h1></center>

<%= form_tag "/users", method: :post do %>

<div>
<%= label_tag :first_name, "First Name:" %>
<%= text_field_tag :first_name, @users.first_name %>
</div>

<div>
<%= label_tag :last_name, "Last Name:" %>
<%= text_field_tag :last_name, @users.last_name %>
</div>

<div>
<%= label_tag :email, "Email:" %>
<%= text_field_tag :email, @users.email %>
</div>

<%= submit_tag "Register" %>
<% end %>
