<h1>Editing this card: <%= @deckcard.name %></h1>
<%= form_tag "/deck_cards/#{@deck.id}", method: :patch do %>

<div>
<%= label_tag :image_url, "Card : " %>
<%= text_field_tag :image_url, @deckcard.image_url %>
</div>

<%= submit_tag "Change Card Info" %>



<% end %>