<h1>Add new cards here:</h1>

<%= form_tag "/deck_cards", method: :post do%>

<div>
<%= label_tag :name, "Card Name:" %>
<%= text_field_tag :name, @deckcard.name%>
</div>

<div>
<%= label_tag :color, "Card Color(s): " %>
<%= text_field_tag :color, @deckcard.color %>
</div>

<div>
<%= label_tag :rarity, "Card Rarity: " %>
<%= text_field_tag :rarity, @deckcard.rarity %>
<div>

<div>
<%= label_tag :mana, "Mana Cost:" %>
<%= text_field_tag :mana, @deckcard.mana %>
</div>

<%= submit_tag "Add to Deck" %>
</div>

<% end %>