<center>Here's a list of Magic cards</center>


<% @cards.each do |card| %>
  <div>
  <h3>Card Name: <%= card["name"] %></h3>
 <!--  <h2>Card Type: <%= card["type"] %></h2>
  <h2>Card Color: <%= card["color"] %></h2>
  <h2>Mana Cost: <%= card["mana_cost"] %></h2>
  <h2>Power: <%= card["power"] %></h2>
  <h2>Toughness: <%= card["toughness"] %></h2> -->
  <h5>Rarity: <%= card["editions"][0]["rarity"] %></h5>

  <img src="<%= card["editions"][0]["image_url"] %>">
  </div>
<% end %>

