<center>Here's a list of Magic cards</center>

<center>
  <%= form_tag "/cards_search/", method: :get do %>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
    <%= submit_tag %>
  <% end %>
</center>

<% @cards.each do |card| %>
  <div>
  <h5>Card Name: <%= card["name"] %></h5>
  <img src="<%= card["editions"][0]["image_url"] %>">
  <%= form_tag "/collection_cards", method: :post do %>
    <%= hidden_field_tag :card_id, card["id"] %>
    <%= hidden_field_tag :image_url, card["editions"][0]["image_url"]%>
    Quantity: <%= number_field_tag :quantity %>
    <%= submit_tag "Add to Collection" %>
  <% end %>
  </div>
<% end %>

