<center style="font-family: 'Fantasy', sans-serif; font-size: 30px; color: blue;">Search Results:</center>

<div class="pagebackground">
  <div id="droppable" class="ui-widget-header" style="width: 300px; height: 325px; border: 1px solid black; float: left;">
    <h5 style="font-family: 'Fantasy', sans-serif; font-size: 25px; color: green;">Add to collection</h5>
  </div>

  <% current_user.decks.each do |deck| %>
    <div id="droppable-<%= deck.id %>" class=" droppable ui-widget-header" data-deck-id="<%= deck.id %>" style="width: 300px; height: 325px; border: 1px solid black; float: left;">
    <h5 style="font-family: 'Fantasy', sans-serif; font-size: 25px; color: green;">Add to <%= deck.name %></h5>
  </div>
  <% end %>

  <% @cards.each do |card| %>
    <img class="draggable" style="float: left" src="<%= card.image_url %>" data-api-id="<%= card.id %>" data-user-id="<%= current_user.id %>" >
  <% end %>
 
  <script>
  $( function() {
    $( ".draggable" ).draggable();
    $( "#droppable" ).droppable({
      drop: function( event, ui ) {
        $( this )
          .addClass( "ui-state-highlight" )
          .find( "p" )
            .html( "Dropped!" );
       // do something with the draggable item
       var user_id = (ui.draggable).data("user-id");
       var card_id = (ui.draggable).data("api-id");
       $.post( "/collection", { user_id: user_id, card_id: card_id, quantity: 1} );
       (ui.draggable).addClass("animateCard");
      }
    });
  });
  </script>
</div>
 var deck_id = (ui.droppable).data("deck-id");
 $.post("/decks/deck_id", {card_id: card_id, deck_id = deck_id, quantity: 1})

