<div class="pagebackground" style="text-align: center;">
  <form>
    <h1 style="font-family: 'Merienda', cursive; color: blue">Editing this deck: <%= @deck.name %></h1>
    <%= form_tag "/decks/#{@deck.id}", method: :patch do %>
      <p>
      <div style="font-size: 20px; font-family: 'Merienda', cursive; color: red;">
        <label for="a"><%= label_tag :deck_name, "Deck Name: " %></label>
        <input id="a"><%= text_field_tag :deck_name, @deck.name %>
      </div>
      </p>
      <p>
      <div style="font-size: 20px; font-family: 'Merienda', cursive; color: blue;">
        <label for="b"><%= label_tag :deck_color, "Deck Color(s): " %></label>
        <input id="b"><%= text_field_tag :deck_color, @deck.color %>
      </div>
      </p>
      <p>
      <div style="font-size: 20px; font-family: 'Merienda', cursive; color: red;">
        <lable for="c"><%= label_tag :deck_description, "Deck Description: " %></lable>
        <input id="c"><%= text_field_tag :deck_description, @deck.description %>
      </div>
      </p>
      <p>
      <div style="font-size: 15px; font-family: 'Merienda', Cursive; color: blue;">
      <%= submit_tag "Change Deck Info" %>
      </div>
      </p>
    <% end %>
  </form>
</div>

<style>
.form  { display: table;      }
.p     { display: table-row;  }
.label { display: table-cell; text-align: right}
.input { display: table-cell; }
</style>