<h1 class="page-header"><%= @page_title %></h1>

<div id="myCarousel" class="carousel slide carousel_size" data-ride="carousel" data-pause="hover">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
   <!--  5 mana pic -->
      <img src="http://i.imgur.com/RsjbhOm.png" alt=":)">
    </div>
  <!--   Red Mana -->
    <div class="item">
      <img src="http://vignette3.wikia.nocookie.net/mtg/images/c/ce/Mana_R.png/revision/latest?cb=20130604114022" alt=":)">
    </div>
    <!--   Blue Mana -->
    <div class="item">
      <img src="http://vignette2.wikia.nocookie.net/mtg/images/a/a8/Mana_U.png/revision/latest?cb=20130604114015" alt=":)">
    </div>
    <!-- Black Mana -->
    <div class="item"> 
      <img src="http://vignette2.wikia.nocookie.net/mtg/images/a/a6/Mana_B.png/revision/latest?cb=20130604114019" alt=":)">
    </div>
      <!-- Green Mana -->
    <div class="item">
      <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQoVwoEnCdT9oVzJWxie_DERv9s8FtYEgRGl3yPkUEeR_MURrzKKA">
    </div>
   <!--  White Mana -->
    <div class="item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvhjTAl3ipMAIycxRpxYnEpya1UCuPUI23Rzrnveux_Jsaaw8LHw">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<center>
<%= form_tag "/search_deck", method: :post do %>
  <%= label_tag :search %>
  <%= text_field_tag :search %>
  <%= submit_tag "Search for cards" %>
<% end %>
</center>

<%= link_to "Sort by color", "/decks?sort=color" %>
<br>
<%= link_to "Sort by name", "/decks?sort=name" %>
<br>
<%= link_to "Create New Deck", "/decks/new" %>
<br>
<% @decks.each do |deck| %>
  <div class="col-md-4">
    <div class="jumbotron">
      <div class="deck_name"><%= link_to deck.name, "/decks/#{deck.id}/" %></div>
      <div class="deck_color"><%= deck.color %></div>
      <div class="deck_description"><%= deck.description %></div>
    </div>
  </div>
<% end %>

