<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="en" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->

  <head>

  </head>

  <!-- body classes:  -->
  <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
  <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
  <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
  <!-- "gradient-background-header": applies gradient background to header -->
  <!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
  <body class="no-trans   pagebackground ">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
    
    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container pagebackground">

        <div class="container">
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-8 col-lg-offset-1 col-md-push-4 col-lg-push-3">

              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title" style="font-family: 'Merienda', cursive; color: aqua; size: 25px; text-transform: capitalize;">New Deck</h1>
              <div class="separator-2"></div>
              <!-- page-title end -->
              <div id="droppable" class="ui-widget-header" style="width: =500px; height: 500px; border: 1px solid white;">
              </div>
            </div>
            <!-- main end -->
            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-4 col-lg-3 col-md-pull-8 col-lg-pull-9">
              <div class="sidebar">
                <div class="block clearfix">
                  <h3 class="title" style="font-family: 'Merienda', cursive; color: red; font-transform: capitalize;">Deck Info:</h3>
                  <div class="separator-2"></div> 
                  <%= form_tag "/decks", method: :post do %>
                    <div class="deckInfoTags field" style="font-family: 'Merienda', cursive; font-size: 15px; color: aqua;">
                      
                      <div class="field">
                        <div class="label"><%= label_tag :deck_name, "Deck Name:" %></div>
                        <div class="value"><%= text_field_tag :deck_name, @deck.name %></div>
                      </div>

                    <div class="field">
                      <div class="label"><%= label_tag :deck_color, "Deck Color(s)" %></div>
                      <div class="value"><%= text_field_tag :deck_color, @deck.color %></div>
                    </div>

                    <div class="field">
                      <div class="label"><%= label_tag :deck_description, "Deck Description" %></div>
                      <div class="value"><%= text_field_tag :deck_description, @deck.description %></div>
                    </div>

                    <div>
                    <%= submit_tag "Create Deck" %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </aside>
            <!-- sidebar end -->
          </div>
        </div>
      </section>
      <!-- main-container end -->
    </div>
    <!-- page-wrapper end -->

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".draggable" ).draggable();
    $( "#droppable" ).droppable({
      drop: function( event, ui ) {
        $( this )
          .addClass( "ui-state-highlight" )
          .find( "p" )
            .html( "Dropped!" );
       // do something with the draggable item
       var user_id = (ui.draggable).data("user-id");
       var card_id = (ui.draggable).data("api-id");
       $.post( "/collection", { user_id: user_id, card_id: card_id, quantity: 1} );
       (ui.draggable).addClass("animateCard");
      }
    });
    });
  </script>

  </body>
</html>

<style>
.field {
    display: table;
    margin-bottom: 1em;
}

.label,.value{
    display: table-cell;
}

.label {
    background: aqua;
    min-width: 100px;
    color: red;
    size: 15px;
}

.value {
    background: red;
    width: 100%;
    vertical-align: bottom;
}
</style>