<div class="pagebackground">
  <h1><center><div class="defaultCSS"><%= @deck.name %> </h1></center>
    <h4 class="defaultCSS" style="color: blue;">Deck color(s): <%= @deck.color %></h4>
    <h4 class="defaultCSS" style="color: red;">Deck Description: <%= @deck.description %></h4>
  </div>

  <% if !@cards.nil? %>
   <% @cards.each do |card| %>
      <img class="draggable" style="float: left" src="<%= card.image_url %>" data-api-id="<%= card.id %>" data-user-id="<%= current_user.id %>" >
    <% end %>
  <% end %>

  <div>
    <%= link_to "Edit Deck", "/decks/#{@deck.id}/edit" %>
  </div>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <!-- main-container start -->
     <section class="main-container">
        <div class="container defaultCSS">
          <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-8">
              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="deckShowTitle defaultCSS" style="font-family: 'Merienda', cursive; color: red;">Main Deck</h1>
              <div class="separator-2"></div>
              <!-- page-title end -->   
                  <% @deck.deck_cards.each do |deck_card| %>
                    <div class="hover_img2"><%= deck_card.quantity %>:<a href=""><%= deck_card.card.name %><span><img src="<%= deck_card.card.image_url %>" /></span></a>
                    </div>
                  <% end %>
                
              </div>
            <!-- main end -->




            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-4 col-lg-3 col-lg-offset-1">
              <div class="sidebar">
                <div class="block clearfix">
                  <h3 class="title defaultCSS" style="font-family: 'Merienda', cursive; color: blue;">Sideboard</h3>
                  <div class="separator-2"></div>
                  <nav>
                  </nav>
                </div>
                </div>
              </div>
            </aside>
            <!-- sidebar end -->

          </div>
        </div>
      </section>

</div>
