<h1> <%= @deck.name %> </h1>

<h4>Deck color(s): <%= @deck.color %></h4>
<h4>Deck Description: <%= @deck.description %></h4>

<div>
<%= link_to "Edit Deck", "/decks/#{@deck.id}/edit" %>
</div>

<div>
<%= link_to "Delete Deck", "/decks/#{@deck.id}", method: :delete %>
</div>

<% @deck.deck_cards.each do |deck_card| %>
  <div>
  <%= deck_card.card.name %>:
  <%= deck_card.quantity %>
  <img src="<%= deck_card.card.image_url %>">
  </div>
<% end %>

